### Connect with Website

In [1]:
url = "https://www.basketball-reference.com/players/t/tatumja01/gamelog/2022"

In [2]:
import requests
data = requests.get(url)

In [3]:
with open("Jayson.html", "w+") as f:
        f.write(data.text)

In [4]:
from bs4 import BeautifulSoup

In [5]:
with open("Jayson.html") as f:
    page = f.read()

In [6]:
soup = BeautifulSoup(page, "html.parser")

In [7]:
Tatum = soup.find(id="pgl_basic")

In [8]:
import pandas as pd
df = pd.read_html(str(Tatum))[0]

In [9]:
df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-10-20,23-231,BOS,@,NYK,L (-4),1,44:37,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2,2021-10-22,23-233,BOS,NaN,TOR,L (-32),1,30:20,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,3,2021-10-24,23-235,BOS,@,HOU,W (+10),1,36:54,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,4,2021-10-25,23-236,BOS,@,CHO,W (+11),1,41:28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,5,2021-10-27,23-238,BOS,NaN,WAS,L (-9),1,35:40,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,74,2022-04-03,24-031,BOS,NaN,WAS,W (+42),1,29:09,...,4,6,7,2,1,2,3,22,19.5,+22
82,80,75,2022-04-06,24-034,BOS,@,CHI,W (+23),1,30:09,...,10,10,8,2,1,2,1,16,13.5,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,NaN,2022-04-07,24-035,BOS,@,MIL,L (-6),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,82,76,2022-04-10,24-038,BOS,@,MEM,W (+29),1,26:03,...,9,9,3,1,0,5,2,31,25.6,+29

### Remove unneccessary columns

In [10]:
df.drop('G', axis=1, inplace=True)

In [11]:
df.drop('Age', axis = 1, inplace=True)

In [13]:
df.drop('Tm', axis = 1, inplace=True)

In [14]:
df

,Rk,Date,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,@,NYK,L (-4),1,44:37,7,30,.233,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,NaN,TOR,L (-32),1,30:20,8,14,.571,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,@,HOU,W (+10),1,36:54,12,24,.500,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,@,CHO,W (+11),1,41:28,14,28,.500,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,NaN,WAS,L (-9),1,35:40,9,22,.409,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,2022-04-03,NaN,WAS,W (+42),1,29:09,9,17,.529,...,4,6,7,2,1,2,3,22,19.5,+22
82,80,2022-04-06,@,CHI,W (+23),1,30:09,5,18,.278,...,10,10,8,2,1,2,1,16,13.5,+22
83,Rk,Date,NaN,Opp,NaN,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,2022-04-07,@,MIL,L (-6),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,82,2022-04-10,@,MEM,W (+29),1,26:03,11,14,.786,...,9,9,3,1,0,5,2,31,25.6,+29

In [15]:
df.drop(df.index[(df["GS"] == "Inactive")],axis=0,inplace=True)

In [17]:
df.drop(df.index[(df["Rk"] == "Rk")],axis=0,inplace=True)

In [18]:
df

,Rk,Date,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,@,NYK,L (-4),1,44:37,7,30,.233,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,NaN,TOR,L (-32),1,30:20,8,14,.571,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,@,HOU,W (+10),1,36:54,12,24,.500,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,@,CHO,W (+11),1,41:28,14,28,.500,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,NaN,WAS,L (-9),1,35:40,9,22,.409,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,77,2022-03-30,NaN,MIA,L (-8),1,39:35,9,17,.529,...,4,5,6,2,0,4,4,23,16.8,-12
80,78,2022-04-01,NaN,IND,W (+5),1,37:13,10,24,.417,...,4,6,6,1,1,1,0,31,24.9,-1
81,79,2022-04-03,NaN,WAS,W (+42),1,29:09,9,17,.529,...,4,6,7,2,1,2,3,22,19.5,+22
82,80,2022-04-06,@,CHI,W (+23),1,30:09,5,18,.278,...,10,10,8,2,1,2,1,16,13.5,+22
85,82,2022-04-10,@,MEM,W (+29),1,26:03,11,14,.786,...,9,9,3,1,0,5,2,31,25.6,+29

### Rename columns with no names

In [19]:
df.rename(columns = {'Unnamed: 5':'H or A'}, inplace = True)

In [21]:
df.rename(columns = {'Unnamed: 7':'Result'}, inplace = True)

In [22]:
df

,Rk,Date,H or A,Opp,Result,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,@,NYK,L (-4),1,44:37,7,30,.233,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,NaN,TOR,L (-32),1,30:20,8,14,.571,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,@,HOU,W (+10),1,36:54,12,24,.500,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,@,CHO,W (+11),1,41:28,14,28,.500,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,NaN,WAS,L (-9),1,35:40,9,22,.409,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,77,2022-03-30,NaN,MIA,L (-8),1,39:35,9,17,.529,...,4,5,6,2,0,4,4,23,16.8,-12
80,78,2022-04-01,NaN,IND,W (+5),1,37:13,10,24,.417,...,4,6,6,1,1,1,0,31,24.9,-1
81,79,2022-04-03,NaN,WAS,W (+42),1,29:09,9,17,.529,...,4,6,7,2,1,2,3,22,19.5,+22
82,80,2022-04-06,@,CHI,W (+23),1,30:09,5,18,.278,...,10,10,8,2,1,2,1,16,13.5,+22
85,82,2022-04-10,@,MEM,W (+29),1,26:03,11,14,.786,...,9,9,3,1,0,5,2,31,25.6,+29

In [23]:
import numpy as np
df['H or A'] = df['H or A'].replace(['@'],'A')
df['H or A'] = df['H or A'].replace([np.nan],'H')

In [24]:
df

,Rk,Date,H or A,Opp,Result,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,A,NYK,L (-4),1,44:37,7,30,.233,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,H,TOR,L (-32),1,30:20,8,14,.571,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,A,HOU,W (+10),1,36:54,12,24,.500,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,A,CHO,W (+11),1,41:28,14,28,.500,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,H,WAS,L (-9),1,35:40,9,22,.409,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,77,2022-03-30,H,MIA,L (-8),1,39:35,9,17,.529,...,4,5,6,2,0,4,4,23,16.8,-12
80,78,2022-04-01,H,IND,W (+5),1,37:13,10,24,.417,...,4,6,6,1,1,1,0,31,24.9,-1
81,79,2022-04-03,H,WAS,W (+42),1,29:09,9,17,.529,...,4,6,7,2,1,2,3,22,19.5,+22
82,80,2022-04-06,A,CHI,W (+23),1,30:09,5,18,.278,...,10,10,8,2,1,2,1,16,13.5,+22
85,82,2022-04-10,A,MEM,W (+29),1,26:03,11,14,.786,...,9,9,3,1,0,5,2,31,25.6,+29

In [25]:
df.to_csv("Tatum.csv")